<!-- Styles -->
<style>
    html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
    }
</style>

<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md2">
            <img src="/images/logo.svg" class="thumbnail center" />
        </div>
        <div class="m-b-md">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-4 control-label">Customer email</label>
                    <div class="col-sm-8">
                        <input type="email" ng-required class="form-control" id="inputEmail" ng-model="email"  placeholder="Enter custumer email" required>

                    </div>
                </div>

        </div>

        <div class="links">
            <button class="btn btn-lg btn-default"  ng-click="email = null" id="reset">Reset</button>
            <a ui-sref="userShow({userEmail: email})">
              <button type="submit" class="btn btn-lg btn-info"    id="search">Find</button>
            </a>



        </div>
        </form>
    </div>
</div>
