<!-- Styles -->
<style>
    html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
    }
</style>

<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md2">
            <img src="/images/logo.svg" class="thumbnail center" />
        </div>
        <div class="m-b-md">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 text-center control-label">Email cliente</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" ng-model="email" placeholder="Email">
                    </div>
                </div>
            </form>
        </div>

        <div class="links">
            <a href="#reset" id="reset">Reset</a>
            <a href="#" ui-sref="userShow({userEmail: email})" id="search">Cerca</a>
        </div>
    </div>
</div>
