<div class="container">
  <div ng-if="!isInstagramSelected" ng-repeat="instagramProfile in instagramProfiles" class="row" ng-click="chooseInstagramProfile(instagramProfile.username)">
    <img ng-src="{{instagramProfile.profile_picture}}" class="img-responsive col-sm-3"></img>
    <h4 class="col-sm-9"><small>Username: </small>{{instagramProfile.username}}</h4>
  </div>
</div>
  <highchart ng-show="chart" config="instagramChartConfig"></highchart>
<div ng-if="isInstagramSelected" ng-repeat="watsonVrInfo in watsonVrInfos">

  <div ng-repeat="obj in watsonVrInfo">
    <h4><small>Class: </small>{{obj.class}}</h4>
    <h4><small>Score: </small>{{(obj.score * 100).toFixed(2)}}%</h4>
  </div>
</div>
