<button ng-if="isInstagramSelected" class="btn btn-primary" style="float:right;" ng-click="backToInstagramIndex()">Torna indietro</button>
<h3><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Instagram Profiles </h3>
<br>
<div class="col-md-4" ng-if="!isInstagramSelected" ng-repeat="instagramProfile in instagramProfiles"  ng-click="chooseInstagramProfile(instagramProfile.username)">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small>Username </small>{{instagramProfile.username}}</h4>
        </div>
        <div class="panel-body">
            <img ng-src="{{instagramProfile.profile_picture}}" class="img-responsive"></img>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
    <highchart ng-show="chart" config="instagramChartConfig"></highchart>
    <hr>
    <div ng-if="isInstagramSelected" ng-repeat="watsonVrInfo in watsonVrInfos">
        <div ng-repeat="obj in watsonVrInfo">
            <h3><small>Class <b>{{obj.class}}</b></small></h3>
            <h3><small>Score <b>{{(obj.score * 100).toFixed(2)}}%</b></small></h3>
            <hr>
        </div>
    </div>
</div>
