
<div  ng-if="done && data.DemandwareCustomer.CustomerID != null" class="container">
<div class="row">
  <br>
<div class="col-md-4">
    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Customer data </h3>

    <img class="img-responsive thumb" ng-src="/images/cake.png" ng-hide="birthday"></img>
    <h3><small>First Name <b>{{data.DemandwareCustomer.FirstName}}</b></small></h3>
    <h3><small>Last Name <b>{{data.DemandwareCustomer.LastName}}</b></small></h3>
    <h3><small>Mobile Phone <b>{{data.DemandwareCustomer.MobilePhone}}</b></small></h3>
    <h3><small>Email <b>{{data.DemandwareCustomer.Email}}</b></small></h3>
    <h3><small>Birthday <b>{{data.DemandwareCustomer.Birthday}}</b></small></h3>
  </div>
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Privilege Card</h3>
    <!--img class="img-responsive thumb" ng-src="/images/card.png"></img-->
    <h3 ng-hide="card"><b>+10% EXTRA discount</b></h3>
    <h3><small>Card points <b>{{data.DemandwareCustomer.Points}}</b></small></h3>
    <h3><small>Discount <b>{{data.DemandwareCustomer.Discount}}%</b></small></h3>
    <h3><small>Registration date <b>{{convertDate(data.DemandwareCustomer.CreationDate)}}</b></small></h3>
    <br>
    <hr>
      <h3><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Average order €{{prize}}</h3>
    <hr>
  </div>
    <div class="col-md-4">
      <div class="panel panel-default">

      <div class="panel-body">
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="info in infos">
          <td>{{info.name}}</td>
          <td>{{info.size}}</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
<hr>
    <highchart config="typeChartConfig"></highchart>
    <br>
    <highchart config="priceChartConfig"></highchart>
<hr>
    <h1><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <b>Orders</b></h1>
    <br>
    <div class="container" ng-repeat="order in data.Orders">
         <div class="panel panel-default">
           <div class="panel-heading"><h3><span ng-hide="gift" class="glyphicon glyphicon-gift" aria-hidden="true"></span><i> {{parseDate(order.DataOrdine)}}</i></h3></div>
        <div class="container" ng-repeat="item in order.OrderBoggiItems">
          <div class="panel-body col-sm-2">
            <img ng-src="http://demandware.edgesuite.net/bbbs_prd/on/demandware.static/-/Sites-BoggiCatalog/default/images/medium/{{item.CodArticolo}}.jpg" class="img-responsive thumb" alt="{{item.CodArticolo}}">
         </div>
         <div class="panel-body col-md-6">
           <h3><small>Description <b>{{item.DescrizioneArt}}</b></small></h3>
           <h3><small>Price €<b>{{item.Prezzo}}</b></small></h3>
           <h3><small>Size <b>{{item.Taglia}}</b></small></h3>
           <h3><small>Amount <b>{{item.Quantita}}</b></small></h3>
           <h3><small>Discounted Price €<b>{{item.PrezzoScontato}}</b></small></h3>
           <h3><small>Group Description <b>{{item.GroupDescription}}</b></small></h3>
         </div>
       </div>
        </div>
    </div>
</div>
<input type="file" id="file" name="file"/>
<button ng-click="add()">Add</button>

<div class="flex-center position-ref full-height">
    <div class="content">
    <style>
    .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    }
    Try it Yourself »

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    </style>

        <div class="m-b-md">
          <div ng-if="done && data.DemandwareCustomer.CustomerID == null" class="container"><h1>This customer isn't in the database</h1></div>

          <div ng-if="!done">
          <div class="loader center"></div>
          </div>
        </div>
    </div>
</div>
