
<div  ng-if="done && data.DemandwareCustomer.CustomerID != null" class="container">
<div class="row">
  <br>
<div class="col-md-4">
    <h3>Customer data</h3>

    <img class="img-responsive thumb" ng-src="/images/cake.png" ng-hide="birthday"></img>
    <h3><small>First Name <b>{{data.DemandwareCustomer.FirstName}}</b></small></h3>
    <h3><small>Last Name <b>{{data.DemandwareCustomer.LastName}}</b></small></h3>
    <h3><small>Mobile Phone <b>{{data.DemandwareCustomer.MobilePhone}}</b></small></h3>
    <h3><small>Email <b>{{data.DemandwareCustomer.Email}}</b></small></h3>
    <h3><small>Birthday <b>{{data.DemandwareCustomer.Birthday}}</b></small></h3>
  </div>
  <div class="col-md-4">
    <h3>Privilege Card</h3>
    <img class="img-responsive thumb" ng-src="/images/card.png"></img>
    <h3 ng-hide="card"><b>+10% EXTRA discount</b></h3>
    <h3><small>Card points <b>{{data.DemandwareCustomer.Points}}</b></small></h3>
    <h3><small>Discount <b>{{data.DemandwareCustomer.Discount}}%</b></small></h3>
    <h3><small>Registration date <b>{{convertDate(data.DemandwareCustomer.CreationDate)}}</b></small></h3>
  </div>
    <div class="col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading"><h3><small><b>SIZEs</b></small></h3></div>
      <div class="panel-body">
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="info in infos">
          <td>{{info.name}}</td>
          <td>{{info.size}}</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
    <highchart config="typeChartConfig"></highchart>
    <highchart config="priceChartConfig"></highchart>
    <h3><small>Orders: </small></h3>
    <div class="container bottom-border" ng-repeat="order in data.Orders">
        <h3><small>Date: </small>{{parseDate(order.DataOrdine)}}</h3>
        <div class="container" ng-repeat="item in order.OrderBoggiItems">
            <img ng-src="http://demandware.edgesuite.net/bbbs_prd/on/demandware.static/-/Sites-BoggiCatalog/default/images/medium/{{item.CodArticolo}}.jpg" class="img-responsive thumb" alt="{{item.CodArticolo}}">
            <div>
                <h4><small>Description </small>{{item.DescrizioneArt}}</h4>
                <h4><small>Price </small>{{item.Prezzo}}</h4>
                <h4><small>Size </small>{{item.Taglia}}</h4>
                <h4><small>Amount </small>{{item.Quantita}}</h4>
                <h4><small>Discounted Price </small>{{item.PrezzoScontato}}</h4>
                <h4><small>Group Description </small>{{item.GroupDescription}}</h4>
                <img class="img-responsive thumb" ng-src="/images/gift.png" ng-hide="gift"></img>
            </div>
        </div>
    </div>
</div>
<input type="file" id="file" name="file"/>
<button ng-click="add()">Add</button>

<div class="flex-center position-ref full-height">
    <div class="content">
    <style>
    .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    }
    Try it Yourself »

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    </style>

        <div class="m-b-md">
          <div ng-if="done && data.DemandwareCustomer.CustomerID == null" class="container"><h1>This customer isn't in the database</h1></div>

          <div ng-if="!done">
          <div class="loader center"></div>
          </div>
        </div>
    </div>
</div>
