.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.title {
    font-size: 50px;
}
.content {
    text-align: center;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.m-b-md2 {
    margin-bottom: 60px;
}
.center{
    margin: auto;
}
/*---------------------------------------------------------------------------*/
.bottom-border{
    border-bottom: 1px solid gray;
}
.thumb{
   width: 100px; 
}